.container2{
    background-color: #fea8bd; 
    height: 380px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    
}
.container2 h3{
    position: relative;
    top: 5%;
    font-weight: bold;
    margin-bottom: 30px;
}
.label1{
    font-size: 20px;
    position: relative;
    left: -18%;
    display: flex;
    flex-direction: column;
}
.container2 input{
    padding: 5px;
    width: 85%;
    margin-bottom: 30px;
}
.label{
    font-size: 20px;
    position: relative;
    left: -14%;
    display: flex;
    flex-direction: column;
}
.button{
    width: 38%;
    padding: 4px;
    position: relative;
    /* left: 30%; */
    border-radius: 10px;
    background-color: rgb(36, 150, 243);
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}
.button:hover:not(:disabled) {
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}
.button:disabled{
    background-color: rgb(197, 196, 196);
    color: rgba(255, 255, 255, 0.5);
    /* color: black; */
}
.error{
    color: red;
    position: absolute;
     top: 38%;
     left: 8%; 
}
.error1{
    color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -8%;
    left: -10%;
}
