.detailCont {
    height: 100%;
    min-height: 100vh;
}

.productCont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imageCont {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: relative;
}

/********** image button change **********/
.imageButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

.image {
    object-fit: cover;
}

.textCont {
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #f89fa5;
    position: relative;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f28d94;
    background-color: #f8b3b8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.iconsCont {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.cantCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.cantCont input {
    width: 50px;
}

.nameCont{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
.name{
    display: flex;
    justify-content: flex-start;
}
.nameButton{
    background: none;
    border: none;
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-size: 1.5rem;
}

.priceCont{
    display: flex;
    gap: 20px;
}
.priceButton {
    background: none;
    border: none;
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-size: 1.5rem;
}
.descriptionButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}
.descriptionCont{
    margin-top: 40px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 60px;
}