.cont{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
}
.form{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fea8bd;
    border-radius: 10px;    
}
.textCont{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputCont{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}