.cont{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: 'Raleway', sans-serif;
}
.form{
    width: 100%;
    max-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fea8bd;
    border-radius: 10px; 
    padding: 30px;    
}
.textCont{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.input input{
    width: 100%;
    height: 40px;
}
.input label{
    font-weight: 600;
}
.error{
    position: absolute;
    bottom: -40px;
}

.priceCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 600;
}
.priceCont input{
    width: 100px;
}
.imageCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
}
.logoCont{
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 60px;
    border: 1px solid black;
}
.logoCont input{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.logoFile{
    position: absolute;
    top: 25%;
    left: 45%;
    font-size: 2rem;
    color: rgb(85, 84, 84);

}
.dessertCont{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.dessert{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
}

.desCont{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
    justify-content: center;
}
.des{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
}
.des p{
    margin: 0;
    font-weight: 500;
}
.botonX{
    border-radius: 5px;
}