.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sectionCont{
    margin: 40px auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* domicilio */
.domiciliosCont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgb(187, 186, 186);
}

.addCont {
    height: 46px;
    text-decoration: none;
}
.addLinkCont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

}

.addLinkCont p {
    margin: 0;
    color: black;


}

.domicilio {
    border-bottom: 1px solid rgb(190, 190, 190);
}
.datos {
    width: 60%;
    height: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

}

.datos div {
    display: flex;
    gap: 40px;
    align-items: center;

}

.datos div h6 {
    margin: 0;
}

.datos div button {
    background-color: transparent;
    border: none;
    font-size: .8rem;
}

.dataCont {
    display: flex;
    justify-content: space-between;
}

.dataCont section {
    width: 80%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dataCont section div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dataCont section div p {
    margin: 0;
}

.button {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.data {
    position: relative;
}

.menuOption {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
}