.cont{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: 'Raleway', sans-serif;
}
.loginCont{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fea8bd;
    border-radius: 10px;
    
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.21);
        -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.inputCont{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.input{
    height: 40px;
    width: 100%;
}
.forgotPassword{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.forgotPassword p{
    font-size: 0.8rem;
}
.loginElse{
    width: 90%;
    display: flex;
    justify-content: space-around;

}
.checkbox{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.links p{
    font-size: 1rem;
}

.error{
    height: 40px;
    border: 3px solid red;
}

.success{
    height: 40px;
    border: 3px solid rgb(42, 202, 50);
}
.validationCont{

    width: 100%;
}
.validationEmail{
    background-color: #f89fa5;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right:230px;
    top: 270px;
}
.validationPassword{
    background-color: #f89fa5;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right:140px;
    top: 320px;
}