.favCont{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.sectionFav{
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.favorites{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}