.cont{
    position: relative;
    width: 100%;
    max-width: 320px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    background-color: pink;
    border-radius: 3px;
}
.cont:hover{
    box-shadow: 7px 4px 30px -20px rgba(0, 0, 0, 0.96);
        -webkit-box-shadow: 7px 4px 30px -20px rgba(0, 0, 0, 0.96);
        -moz-box-shadow: 7px 4px 30px -20px rgba(0, 0, 0, 0.96);
}
.cardCont{
    width: 100%;
    max-width: 320px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.cantidad{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.imageCont{
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    transform: translate(-50%, -50%);
}
.cardCont:hover .description{
    opacity: 100%;
    transition: 200ms ease-in-out;

}
.cardCont:hover .image{
    filter: brightness(40%);
}

/********* favorites *********/
.fav{
    background: none;
    border: none;
    position: absolute;
    bottom: 25px;
    left: 5px;
    z-index: 1;
}
.favIcon{
    font-size: 30px;
    color: #FF3040;
}
.favIconWhite{
    font-size: 30px;
    color: rgb(49, 49, 49);
}