.container{
    background-color: #fea8bd; 
       height: 450px;
       width: 350px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       border-radius: 5px;
       border: 1px solid black;
       box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3)
}
.container h3{
    position: absolute;
    top: 11%;
    left: 7%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 3px;
}
.error{
    color: red;
    position: absolute;
    top: 55%;
    left: 5%;
}
.error1{
    color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 72%;
    left: 1%;
}

.newP{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 27%;
}
.newP input {
    position: absolute;
    left: 20px;
    top: 93%;
    width: 300px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1px;
}
.newP label{
    position: relative;
    left: 20px;
    color: #000000; 
    font-size: 20px; 
}
.cont{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 43%;
}
.cont input {
    position: absolute;
    left: 20px;
    top: 93%;
    width: 300px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1px;
}
.cont label{
    position: relative;
    left: 20px;
    color: #000000; 
    font-size: 20px; 
}
.fir{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60%;
}
.fir input {
    position: absolute;
    left: 20px;
    top: 93%;
    width: 300px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1px;
}
.fir label{
    position: relative;
    left: 20px;
    color: #000000; 
    font-size: 20px; 
}
.container button {
    position: relative;
    top: 80%;
    width: 90px;
    border-radius: 5px;
    box-shadow: 4px 5px 7px;
    transition: transform 0.3s ease;
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.container button:hover:not(:disabled) {
    transform: translateY(-3px);
}

.container button:disabled {
    pointer-events: none;
    background-color: rgb(192, 114, 114);
}
.atras{
    font-size: 80px;
    position: absolute;
    left: 5%;
    top: 2%;
    height: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    transition: transform 0.3s ease;
}
.atras:hover{
    cursor: pointer;
    transform: translateY(-3px);
}