.homeCont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.carouselCont{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.imageCont{
    width: 80%;
    height: 100%;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button{
    width: 40px;
    height: 30px;
}