.navBarCont{
  width: 100%;
  background-color: #f89fa5;
}
.cont{
  display: flex;
  width: 100%;
}
.linksCont{
  justify-content: flex-end;
}
.linkCont{
  margin-right: 0;
  gap: 5px;
}
.link{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}
.link:hover{
  font-weight: 600;
}