.navBarCont{
  width: 100%;
  background-color: #fea8bd;
  font-family: 'Raleway', sans-serif;
}
.cont{
  display: flex;
  width: 100%;
}
.linksCont{
  justify-content: flex-end;
}
.linkCont{
  margin-right: 0;
  gap: 15px;
}
.link{
  font-size: 1.3rem !important;
  color: #fff!important;
}
.link:hover{
  font-weight: 600 !important;
}
.cartItemCount {
  position: absolute;
  top: 68px;
  right: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: rgb(184, 103, 173);
  color: white;
  border-radius: 50%;
  font-size: 12px;
}